<html>
  <head>
   {% load static from staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/sb-admin.css"%}">
<link rel="stylesheet" type="text/css" href="{% static "css/plugins/morris.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "font-awesome/css/font-awesome.min.css"%}">
  <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/plugins/morris/morris.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/plugins/morris/raphael.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/plugins/morris/morris-data.js" %}"></script>

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['2014', 3],
          ['2015', 2],
          ['2016', 1]
          ]);

        // Set chart options
        var options = {'title':'Yearly meetings',
                       'width':500,
                       'height':400};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>

  <body style="background-color:#EEE">
  <div class="jumbotron text-center">
  <div class="container-fluid"><div class="row">
    <div class="col-sm-6">
    <div id="chart_div" style="background-color:#EEE;margin-left:40px;"></div>
    </div>
    <div class="col-sm-6"><h2>Yearly Meetings Ratio:</h2>
  <h3>This Pie chart shows the yearly meetings</h3>
    </div>
    </div>
    </div>
    </div>

  </body>
</html>