<!DOCTYPE html>
<html>
<head>
	<title>Suggesting pairs</title>
 {% load static from staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/sb-admin.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "font-awesome/css/font-awesome.min.css"%}">



<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<style type="text/css">
  .navbar {
      margin-bottom: 0;
      background-color: #b30000;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  } 
.bg-grey{
	background-color: #EEE;
}
.bg-grey:hover , .abc:hover ,.xyz:hover {
    box-shadow: 5px 0px 15px rgba(0,0,0, .2);
}
</style>




<script type="text/javascript">
   
   $(document).ready(function(){
     
   
	$('.xyz').click(function() {
		$(this).parent().parent().parent().parent().fadeOut("slow");
		
	});
	$('.abc').click(function(){
	     $(this).parent().parent().parent().parent().css({
     height: '150%',
     width: '150%'
  });; 
	     alert("Successfuly paired");
        $(this).parent().parent().parent().parent().fadeOut("slow");
	})
      });
</script>

</head>
<body style="background-color:#EEE">
    <nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container">
    <div class="navbar-header">  
      <a class="navbar-brand" href="#myPage" style="color:white;">Katalyst</a>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
<div class="container-fluid">
      <h2>Suggestions for Pairing</h2><br>
      <div class="list-group">


      <div id="1" class="list-group-item bg-grey">
      <div class="row">
      	<div class="col-sm-4">
      		Mentor<br><img src="{% static 'img/mentor.jpg' %}" style="height:35%;width:25%;" class="image-responsive img-circle">
      	</div>
      	<div class="col-sm-4">
      		Mentee<br><img src="http://4.bp.blogspot.com/-QohmUaykrFQ/VcrrRgy3M2I/AAAAAAAAGH0/uZAuz9XOYwg/s640/sundar-pichai%2B1.jpg" style="height:35%;width:25%;" class="image-responsive img-circle">
      	</div>
      	<div class="col-sm-4">
      	
      	<div class="col-sm-6"><br><br><img src="http://www.clker.com/cliparts/e/2/a/d/1206574733930851359Ryan_Taylor_Green_Tick.svg.med.png" class="image-responsive abc" style="height:25%;width:20%;"></div>
      	
      	<div class="col-sm-6">
      		
      		<br><br><img class="image-responsive xyz" style="height:35%;width:20%;" src="http://www.clker.com/cliparts/k/S/6/v/f/y/wrong-md.png">
      		
      	</div>	
      	
      	</div>

      </div>
      </div>
      <br><br>
      <div id="2" class="list-group-item bg-grey">
      <div class="row">
      	<div class="col-sm-4">
      		Mentor<br><img src="{% static 'img/mentor.jpg' %}" style="height:35%;width:25%;" class="image-responsive img-circle">
      	</div>
      	<div class="col-sm-4">
      		Mentee<br><img src="http://4.bp.blogspot.com/-QohmUaykrFQ/VcrrRgy3M2I/AAAAAAAAGH0/uZAuz9XOYwg/s640/sundar-pichai%2B1.jpg" style="height:35%;width:25%;" class="image-responsive img-circle">
      	</div>
      	<div class="col-sm-4">
      	<div class="col-sm-6"><br><br><img src="http://www.clker.com/cliparts/e/2/a/d/1206574733930851359Ryan_Taylor_Green_Tick.svg.med.png" class="image-responsive abc" style="height:25%;width:20%;"></div>
      	<div class="col-sm-6"><br><br><img class="image-responsive xyz" style="height:35%;width:20%;" src="http://www.clker.com/cliparts/k/S/6/v/f/y/wrong-md.png"></div>	
      	</div>
      </div>
      </div>


       <br><br>
      <div id="2" class="list-group-item bg-grey">
      <div class="row">
      	<div class="col-sm-4">
      		Mentor<br><img src="{% static 'img/mentor.jpg' %}" style="height:35%;width:25%;" class="image-responsive img-circle">
      	</div>
      	<div class="col-sm-4">
      		Mentee<br><img src="http://4.bp.blogspot.com/-QohmUaykrFQ/VcrrRgy3M2I/AAAAAAAAGH0/uZAuz9XOYwg/s640/sundar-pichai%2B1.jpg" style="height:35%;width:25%;" class="image-responsive img-circle">
      	</div>
      	<div class="col-sm-4">
      	<div class="col-sm-6"><br><br><img src="http://www.clker.com/cliparts/e/2/a/d/1206574733930851359Ryan_Taylor_Green_Tick.svg.med.png" class="image-responsive abc" style="height:25%;width:20%;"></div>
      	<div class="col-sm-6"><br><br><img class="image-responsive xyz" style="height:35%;width:20%;" src="http://www.clker.com/cliparts/k/S/6/v/f/y/wrong-md.png"></div>	
      	</div>
      </div>
</div>
       <br><br>
      <div id="2" class="list-group-item bg-grey">
      <div class="row">
      	<div class="col-sm-4">
      		Mentor<br><img src="{% static 'img/mentor.jpg' %}" style="height:35%;width:25%;" class="image-responsive img-circle">
      	</div>
      	<div class="col-sm-4">
      		Mentee<br><img src="http://4.bp.blogspot.com/-QohmUaykrFQ/VcrrRgy3M2I/AAAAAAAAGH0/uZAuz9XOYwg/s640/sundar-pichai%2B1.jpg" style="height:35%;width:25%;" class="image-responsive img-circle">
      	</div>
      	<div class="col-sm-4">
      	<div class="col-sm-6"><br><br><img src="http://www.clker.com/cliparts/e/2/a/d/1206574733930851359Ryan_Taylor_Green_Tick.svg.med.png" class="image-responsive abc" style="height:25%;width:20%;"></div>
      	<div class="col-sm-6"><br><br><img class="image-responsive xyz" style="height:35%;width:20%;" src="http://www.clker.com/cliparts/k/S/6/v/f/y/wrong-md.png"></div>	
      	</div>
      </div>
      </div>
      </div>
      </div>
    </body>
</html>